[paths]
source = src

[run]
branch = true
source = src
parallel = true
omit =
    *tests*
    */base.py
    *migrations*

[report]
show_missing = true
precision = 2
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
