graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include .readthedocs.yml
include .pre-commit-config.yaml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.yml
include requirements-dev.yml

prune .ci

include tox.ini .travis.yml

global-exclude *.py[cod] __pycache__/* *.so *.dylib
global-exclude tags
global-exclude *.swp
global-exclude .lipyphilic.* *.debug
