graft src
graft tests
graft docs

include CHANGELOG.rst
include CONTRIBUTING.rst

exclude .cookiecutterrc
exclude .coveragerc
exclude .gitignore
exclude .editorconfig
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude tox.ini
prune .github

global-exclude *.py[cod] __pycache__/* *.so *.dylib
global-exclude tags
global-exclude *.swp
global-exclude .lipyphilic.* *.debug
